<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout ::head"></head>

<body>
	<header th:replace="layout/layout ::header"></header>

	<form th:action="@{/tickets/create}" th:object="${ticket}" method="post">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-md-9 mx-auto">
					<div class="card ">
						<div class="card-header text-center">Create Ticket</div>
						<div class="card-body">
							<div class="form-group row">
								<input type="hidden" th:field="*{idTicket}">

								<label for="nombre" class="col-sm-2 col-form-label">Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="nameTicket" placeholder="Name Ticket"
										th:field="*{nameTicket}">

								</div>
							</div>
							<div class="form-group row my-4">
								<label for="nombre" class="col-sm-2 col-form-label">Description</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="descriptionTicket"
										placeholder="Description" th:field="*{descriptionTicket}">

								</div>
							</div>
							<div class="form-group row my-4">
								<label for="nombre" class="col-sm-2 col-form-label">Create</label>
								<div class="col-sm-10">
									<input class="form-control" id="createAt" placeholder="User Name"
										th:field="*{createAt}" type="date">

								</div>
							</div>


							<div class="form-group row">
								<div class="col-2"><button type="submit" class="btn btn-success">Save</button></div>
								<div class="col-2"><a class="btn btn-danger" th:href="@{/}">Cancel</a></div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>

</html>